<html>
	<head>
		<title>What do I eat?</title>
	</head>
	<body>
		Enter your location!:
		<form name="main" action="/" onsubmit="return validateForm()" method="post">
			<input type="text" name="location">
			<input type="submit" value="Find!">
		</form>
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				Results:
				<pre>
					{% for message in messages %}
{{message}}
					{% endfor %}
				</pre>
			{% endif %}
		{% endwith %}
	</body>
</html>

<script>
	function validateForm()
	{
	var x=document.forms["main"]["location"].value;
	if (x==null || x=="")
  		{
  			alert("You Must have a location!");
  			return false;
  		}
	}
</script>